independent-leaves=true
shamefully-flatten=true
link-workspace-packages=true
network-concurrency=Infinity
child-concurrency=Infinity
workspace-concurrency=Infinity
shared-workspace-shrinkwrap=true
store=.pnpm-store
